* {
   box-sizing: border-box; 
}


body {
    position: relative;
    font-family: 'Oswald', sans-serif;
    color: rgb(42, 83, 58); 
    background-color: rgb(208, 230, 202); 
    min-height: 100vh;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(100, 100, 100, 0.4);
}

h1 {
    color: rgb(70, 125, 91);
    /* padding: 50px 0 20px 10px; */
    font-size: 25px;
    margin:50px 0 0 0;
    text-align: center;
}

.search-field {
    display: block;
    padding: 10px;
    margin: 20px auto 40px;
    width: 70%;
    height: 100%;
    border: 1px solid lightgrey;
    border-radius: 5px 5px;
    /* box-shadow: 1px 1px 1px rgb(107, 165, 129); */
}

.search-field:focus {
    outline: none;
    border: 2px solid rgb(53, 151, 93);
}

input,
input::placeholder {
    color:rgb(57, 106, 77);
    font-weight: 200;
    font-size: 15px;
}

input[type="search"] {
    -webkit-appearance: none;
}

main {
    padding: 0 30px 30px;
    margin: 20px auto 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-gap: 1.5rem;
}

.card {
    background-color: rgb(176, 212, 165);
    display: flex;
    align-items: center;
    padding: 15px 15px;
    border-radius: 5px 5px;
    border: 2px solid rgb(176, 212, 165);
    transition: all 0.4s ease-out;
    box-shadow: 2px 2px 2px rgb(107, 165, 129);
}

.card:hover {
    border: 2px solid white;
}

p {
    line-height: 10px;
    color: rgb(39, 78, 54);
}

.avatar {
    flex-basis: 20%;
    max-height: 90px;
    max-width: 90px;
    border-radius: 50px 50px;
    border: 2px solid white;
}

.text-container {
    flex-basis: 80%;
    font-weight: 200;
    min-width: 150px;
    font-size: 11px;
    word-wrap: break-word;
    padding: 0 15px;
}

.modal {
    width: 300px;
    margin: 15% auto auto;
    position: relative;
    text-align: center;
    background: rgb(176, 212, 165);
    border: 1px solid white;
    border-radius: 5px;
    padding: 30px 20px;
}


.modal .avatar {
   height: 100px;
   width: auto;
}

hr.line {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid white;
}

.modal p.address {
    padding-bottom: 15px;
}

.modal p.phone {
    padding-top: 15px;
}

.modal-close {
    position: absolute;
    background: rgb(176, 212, 165);
    border: none;
    right: 15px;
    top: 5px;
    cursor: pointer;
    font-family: sans-serif;
    font-size: smaller;
    font-size: large;
    transition: all 0.4s ease-out;
}

.modal-close:hover {
    color: white;
}

.prev {
    font-size: 32px;
    color: white;
    position: absolute;
    left: 10px;
    bottom: 180px;
    transition: 1s ease-out;
}

.next {
    font-size: 32px;
    color: white;
    position: absolute;
    right: 10px;
    bottom: 180px;
    transition: 1s ease-out;
}

.prev:hover,
.next:hover {
  color: rgb(86, 86, 86);
}

.hidden {
    display: none;
}

@media (min-width: 400px) {

    main {
        padding: 0 50px 50px;
    }

    h1 {
        text-align: left;
        padding: 0 0 20px 53px;
    }

}

@media (min-width: 768px) {
    .search-field {
        /* margin: 30px 0 20px 52px; */
        width: 80%;
    }

}